<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/light-mode.css">
    <link rel="icon" href="assets/img/icon.svg">
    <title>BoolzApp Web</title>
</head>
<body>
    
    <section id="app" class="app-wrapper">

        <div class="side-bar col-side">
            <!-- side bar -->
            <div class="header-bar">
                <figure class="avatar avatar-header">
                    <img src="/assets/img/user.jpeg" alt="user">
                </figure>
                <div class="header_option">
                    <i class="fas fa-moon"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <!-- search bar -->
            <div class="search-bar">
                <input type="search" id="contact-search" class="input_text" placeholder="Cerca o inizia una nuova chat">
                <i class="fas fa-search icon-search"></i>
            </div>

            <!-- contacts -->
            <ul class="contacts-side">

                <!-- single contact -->
                <li v-for="(element, index) in contacts" class="contact" @click="selectContact(element)" :class="activeContact == element ? 'active-side' : '' ">
                    <!-- img -->
                    <div class="avatar_wrapper">
                        <figure class="avatar">
                            <img :src= "element.avatar" :alt="element.name">
                        </figure>
                    </div>
                    
                    <div class="contact_info">
                        <!-- name -->
                        <div class="contact_name_date">
                            <h4 class="contact_name">{{element.name}} {{element.last_name}}</h4>
                            <p class="msg_last_data">{{ getHours(lastMsgReceived(index).date) }}</p>
                        </div>
                        
                        <!-- last msg -->
                        <div class="msg_preview">
                            <i class="fas fa-check-double" :class="lastMsgReceived(index).status == 'sent' ? 'check-sent' : 'd-none' "></i>
                            <p>{{ lastMsgReceived(index).text }}</p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

        <!-- chat wrapper -->
        <div class="chat-wrapper col-chat">

            <!-- user-chat -->
            <div v-if="activeContact" class="user-chat">

                <!-- header chat -->
                <div class="header-bar">
                    <!-- info -->
                    <div class="info_chat">                        
                        <!-- img user -->
                        <figure class="avatar avatar-header">
                            <img :src="activeContact.avatar" :alt="activeContact.name">
                        </figure>
                        
                        <!-- info user -->
                        <div class="info_user">
                            <h4 class="name">{{activeContact.name}} {{activeContact.last_name}}</h4>
                            <p class="info-access">ultimo accesso oggi alle 10:59</p>
                        </div>
                    </div>
                        
                    <!-- icon chat -->
                    <div class="icon-chat">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <!-- chat messages -->
                <div class="chat_messages">
                    <div  class="messages-wrapper">

                        <!-- msg sent -->                     
                        <div  v-for="msg in activeContact.messages" :class="msg.status" class="message">
                            <!-- text -->
                            <div class="msg_text">
                                <span>
                                    {{msg.text}}
                                </span>
                                <span class="space_date"></span>
                            </div>
                            <!-- date -->
                            <div class="msg_date-wrapper">
                                <span>{{ getHours(msg.date) }}</span>
                            </div>
                        </div>

                    </div>                    
                </div>

                <!-- footer input chat -->
                <div class="header-bar footer_chat">
                    <!-- icon -->
                    <div class="icon-chat">
                        <i class="far fa-smile"></i>
                        <i class="fas fa-paperclip"></i>
                    </div>

                    <!-- input -->
                    <input type="text" class="input_text" placeholder="Scrivi un messaggio" v-model="newMessageText" @keyup.enter="sendMessage">

                    <!-- icon mic send -->
                    <div class="icon-chat">
                        <i class="fas fa-microphone" :class="newMessageText.trim() != '' ? 'd-none' : '' "></i>
                        <i class="fas fa-paper-plane" :class="newMessageText.trim() == '' ? 'd-none' : '' " @click="sendMessage"></i>
                    </div>
                </div>
            </div>

            <!-- welcome -->
            <div class="welcome-wrapper">
                <div class="welcome-intro-img">
                    <!-- img connection -->
                </div>
                <!-- text connection -->
                <div class="text-connection">
                    <h1>Mantieni il telefono connesso</h1>
                    <p class="welcome_nex_border">BoolzApp si collega al tuo telefono per hackerarti i messaggi. Per ridurre l'utilizzo dei dati, collega il telefono alla 56k.</p>
                    <p><i class="fas fa-laptop"></i> Chiama dal computer con BoolzApp. <a href="#">Scarica l'applicazione.</a></p>
                </div>
            </div>
                        
        </div>
    </section>

    <script src="assets/js/app.js"></script>    
</body>
</html>