/**************** color ****************/
:root {
    --ag-header: #F0F2F5;
    --ag-hover-contact: #f5f6f6;
    --ag-white: #FFFFFF;
    --ag-border: #E9EDEF;
    --ag-border-dark: #D1D7DB;
    --ag-icon: #54656f;
    --ag-scrollbar: #CED0D1;
    --ag-chat: #667781;
    --ag-primary-title: #41525d;
    --ag-href-text: #208F7B;
    --ag-msg-sent: #d9fdd3;
    --ag-msg-received: #fff;
    --ag-msg-shadow: #aaa;
    --ag-check-received: #53bdeb;
    --ag-text-name: #black;

    --ag-border-radius: 8px;

    --ag-img-welcome: url(../img/intro-light.jpg);    
    --ag-backgroud-chat: url(../img/background-light.jpg);
    --ag-bg-body: linear-gradient(#00a884 150px, #e6e3de 150px, #d1d7db calc(100% - 150px));
    --ag-bg-welcome: linear-gradient(#F8F8F8 calc(100% - 6px), #25d366 calc(100% - 6px));
}