*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: width 350ms ease-in-out;
}

img{
    max-width: 100%;
}

.col-side{
    width: calc((100% / 12) * 3.5);
}

.col-chat{
    width: calc((100% / 12) * (12 - 3.5));
}

a{
    text-decoration: none;
    color: var(--ag-href-text);
    font-weight: 500;
}

/* SCROLL-BAR STYLE */
::-webkit-scrollbar {
    width: 5px;
}
/* MANIGLIA DI SCORRIMENTO */
::-webkit-scrollbar-thumb {
    margin-top: 20px;
    background: var(--ag-scrollbar);
}


/******************************* sfondo *******************************/
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--ag-bg-body);
    transition: background 350ms ease-in-out;
}


/******************************* app *******************************/
.app-wrapper{
    width: 1440px;
    height: calc(100% - 17px - 17px);
    border-radius: 12px;
    overflow: hidden;
    transition: all 350ms ease-in-out;
    display: flex;
}


/******************************* side-bar *******************************/
.side-bar{
    height: 100%;
    background-color: var(--ag-white);
    user-select: none;
}


/******************************* header-bar *******************************/
.header-bar{
    height: 60px;
    background-color: var(--ag-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
}


.avatar{
    height: 49px;
    width: 49px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.avatar-header{
    height: 40px;
    width: 40px;
}

.header_option{
    color: var(--ag-icon);
    white-space: nowrap;
}

.header_option > *{
    font-size: 19px;
    margin: 17px;
    cursor: pointer;
}


/******************************* search-bar *******************************/
.search-bar{
    height: 50px;
    border-bottom: 1px solid var(--ag-border);
    padding: 7px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.input_text{
    border: none;
    border-radius: var(--ag-border-radius);
    font-size: 15px;
    color: var(--ag-text-name)
}

.search-bar .input_text{
    background-color: var(--ag-header);
    padding-left: 65px;   
    width: 100%;
    line-height: 35px;
}

.icon-search{
    position: absolute;
    cursor: pointer;
    left: 30px;
    color: var(--ag-icon);
}


/******************************* side contacts *******************************/
.contacts-side{
    height: calc(100% - 60px - 50px);
    overflow-y: auto;    
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 13px;
    padding-right: 7px;
    gap: 16px;
    cursor: pointer; 
}

.contact:hover{
    background-color: var(--ag-hover-contact);
}

.contact_info{
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 1px;
    border-bottom: 1px solid var(--ag-border);   
}

.contact_name_date{
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
}

.contact_name{
    font-size: 17px;
    font-weight: 500;
    color: var(--ag-text-name);
}

.msg_last_data{
    font-size: 12px;
    align-self: flex-end;
    color: var(--ag-chat); 
}

.msg_preview{
    display: flex;
    align-items: center;
    gap: 4px;
}

.msg_preview > *{
    color: var(--ag-chat);
}

.active-side{
    background-color: var(--ag-header);
}


/******************************* chat wrapper *******************************/
.chat-wrapper{
    flex-grow: 1;    
}


/******************************* welcome  *******************************/
.welcome-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    border-left: 1px solid var(--ag-border);
    background: var(--ag-bg-welcome);
    user-select: none;
}

.welcome-intro-img{
    height: 350px;
    width: 350px;
    background-image: var(--ag-img-welcome);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
}

.text-connection{
    max-width: 560px;
    text-align: center;
}

.text-connection h1{
    font-size: 36px;
    color: var(--ag-primary-title);
    font-weight: 300;
    margin-bottom: 30px;
}

.text-connection p, .fa-laptop{
    color: var(--ag-chat);
}

.welcome_nex_border{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--ag-border);
}


/******************************* user-chat *******************************/
.user-chat{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.user-chat .header-bar{
    border-left: 1px solid var(--ag-border-dark);
    user-select: none;
}


/******************************* header chat *******************************/
.info_chat{
    display: flex;
    gap: 15px;
}

.icon-chat > *{
    font-size: 19px;
    margin: 14px;
    color: var(--ag-icon);
    cursor: pointer;
}

.info_user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.info_user .name{
    font-size: 15px;
    font-weight: 500;
    color: var(--ag-text-name);
}

.info_user .info-access{
    font-size: 13px;
    color: var(--ag-chat);
}


/******************************* chat messages *******************************/
.chat_messages{
   flex-grow: 1;
   background-image: var(--ag-backgroud-chat);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border-top: 1px solid var(--ag-border);
   border-left: 1px solid var(--ag-border);
   display: flex;
   justify-content: center;
   padding: 20px 0;
   overflow-y: scroll;
}

.messages-wrapper{
    width: calc((100% / 12) * 10);
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.message{
    border-radius: var(--ag-border-radius);
    padding: 10px;
    max-width: 520px;
    position: relative;
    filter: drop-shadow(0 1px 1px var(--ag-msg-shadow));
}

.message.sent{
    background-color: var(--ag-msg-sent);
    align-self: flex-end;
}

.message.received{
    background-color: var(--ag-msg-received);
    align-self: flex-start;
}

.message.sent + .message.received, .message.received + .message.sent{
    margin-top: 10px;
}

.message::before{
    content: '';
    display: none;
    position: absolute;
    top: 0;
    border: 4px solid;
    border-top-width: 5.5px;
    border-bottom-width: 5.5px;
}

.message.sent::before{
    left: 100%;
    border-color: var(--ag-msg-sent);
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.message.received::before{
    right: 100%;
    border-color: var(--ag-msg-received);
    border-left-color: transparent;
    border-bottom-color: transparent;
}


.message.sent:first-child::before, 
.message.received:first-child::before,
.message.received + .message.sent::before,
.message.sent + .message.received::before{
    display: block;
}

.message.sent:first-child,
.message.received + .message.sent{
    border-top-right-radius: 0;
}

.message.received:first-child,
.message.sent + .message.received{
    border-top-left-radius: 0;
}

.msg_text > *{
    color: var(--ag-text-name);
    overflow-wrap: break-word;
}

.space_date{
    width: 60px;
    display: inline-block;
}

.msg_date-wrapper{
    float: right;
    margin: -10px 0 -5px 4px;
    position: relative;
    font-size: 12px;    
}

.msg_date-wrapper > *{
    font-size: 12px;
    color: var(--ag-chat);
}

.msg_date-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

.check-view{
    color: var(--ag-check-received);
}


/******************************* footer chat *******************************/
.header-bar.footer_chat{
    border-color: var(--ag-border);
    background-color: var(--ag-hover-contact);
}

.footer_chat .icon-chat > *{
    margin: 8px;
}

.footer_chat .icon-chat .fa-microphone{
    padding-left: 5px;
}

.footer_chat .input_text{
    background-color: var(--ag-header);
    flex-grow: 1;
    padding-left: 18px;
    line-height: 40px;
}

.d-none{
    display: none;
}


/******************************* media queery *******************************/
@media screen and (max-width: 1440px){
    .app-wrapper{
        border-radius: 0;
        height: 100%;
    }
}

@media screen and (max-width: 1300px){
    .col-side{
        width: calc((100% / 12) * 4.2);
    }
    .col-chat{
        width: calc((100% / 12) * (12 - 4.2));
    }
    .max-message{
        width: calc((100% / 12) * 9);
    }
}

@media screen and (max-width: 1024px){
    .max-message{
        width: calc((100% / 12) * 10.5);
    }
}

@media screen and (max-width: 900px){
    .col-side{
        width: calc((100% / 12) * 4.8);
    }
    .col-chat{
        width: calc((100% / 12) * (12 - 4.8));
    }
    .welcome-intro-img{
        height: 280px;
        width: 280px;
    }
    .messages-wrapper{
        width: calc((100% / 12) * 11);
    }
    .max-message{
        width: calc((100% / 12) * 11);
    }
}

@media screen and (max-width: 750px){
    .side-bar{
        min-width: 300px;
    }
    .col-chat{
        min-width: 450px;
    }
}