*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    max-width: 100%;
}

.col-side{
    width: calc((100% / 12) * 3.5);
}

/* SCROLL-BAR STYLE */
::-webkit-scrollbar {
    width: 5px;
}
/* MANIGLIA DI SCORRIMENTO */
::-webkit-scrollbar-thumb {
    margin-top: 20px;
    background: var(--bs--scrollbar);
}

/******************************* sfondo *******************************/
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/******************************* app *******************************/
.app-wrapper{
    width: 1440px;
    height: calc(100% - 17px - 17px);
    border-radius: 20px;
    overflow: hidden;
    transition: all 350ms ease-in-out;
}

/******************************* side-bar *******************************/
.side-bar{
    height: 100%;
    background-color: var(--bs-white);
}

/******************************* header-bar *******************************/
.header-bar{
    height: 60px;
    background-color: var(--bs-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
}

.avatar{
    height: 49px;
    width: 49px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.avatar-header{
    height: 40px;
    width: 40px;
}

.header_option{
    color: var(--bs-icon);
    white-space: nowrap;
}

.header_option > *{
    margin: 17px;
    cursor: pointer;
}

/******************************* search-bar *******************************/
.search-bar{
    height: 50px;
    border-bottom: 1px solid var(--bs-border);
    padding: 7px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;    
}

.search-bar #contact-search{
    width: 100%;
    line-height: 35px;
    border: none;
    border-radius: var(--bs-border-radius);
    background-color: var(--bs-header);
    padding-left: 65px;
    font-size: 15px;
}

.icon-search{
    position: absolute;
    font-size: 14px;
    left: 30px;
    color: var(--bs-icon);
}

/******************************* contacts *******************************/
.contacts-side{
    height: calc(100% - 60px - 50px);
    overflow-x: auto;
    margin: 2px;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 13px;
    padding-right: 7px;
    gap: 16px;     
}

.contact_info{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 1px;
    border-bottom: 1px solid var(--bs-border);   
}

.contact_name_date{
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
}

.contact_name{
    font-size: 17px;
}

.msg_data{
    font-size: 12px;
    align-self: flex-end;
    color: var(--bs--chat); 
}

.msg_preview p{
    font-size: 14px;
    color: var(--bs--chat);
}





/******************************* media queery *******************************/
@media screen and (max-width: 1440px){
    .app-wrapper{
        border-radius: 0;
        height: 100%;
    }
}

@media screen and (max-width: 1300px){
    .col-side{
        width: calc((100% / 12) * 4.2);
    } 
}

@media screen and (max-width: 900px){
    .col-side{
        width: calc((100% / 12) * 4.8);
    }   
}

@media screen and (max-width: 750px){
    .side-bar{
        min-width: 300px;
    }   
}







.debug{
    height: 60px;
    background-color: salmon;
    border: 3px dotted blue;
}